tmp
.map
.DS_Store
build.log
build
npm-debug.log
.fastdev.lock
.settings/com.aptana.editor.common.prefs
Resources
Empty.VUI
.settings/com.appcelerator.titanium.core.prefs
.settings/com.appcelerator.titanium.mobile.prefs

plugins/ti.alloy/plugin.pyc

plugins/ti.alloy/plugin.py

plugins/ti.alloy/hooks/alloy.js

.settings/com.appcelerator.titanium.ios.core.prefs

.settings/com.appcelerator.titanium.android.core.prefs

.project
